header {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  justify-content: center;
  min-height: 10vh;
}

header h1 {
  font-size: 2rem;
}

header div {
  border: 1px solid white;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding: 0.5rem 12rem;
}
